---
# OpenShift Dedicated namespace
osbs_namespace: best-namespace

# Service Accounts to create
osbs_service_accounts:
  - koji

# Permissions
osbs_readonly_users: []
osbs_readonly_groups: []
osbs_readwrite_users:
  - system:serviceaccount:{{ osbs_namespace }}:koji
  - system:serviceaccount:{{ osbs_namespace }}:builder
osbs_readwrite_groups:
  - system:authenticated
osbs_admin_users: []
osbs_admin_groups: []

# Limit on the number of running pods - undefine or set to -1 to remove limit
osbs_master_max_pods: -1

# Set to true if you want to skip importing secrets in case the secret files
# are not found.
osbs_secret_can_fail: true

# Absolute path where to look for pulp keys
pulp_secret_local_dir: /home/user/.pulp
pulp_secret_name: pulpsecret

# Absolute path where to look for koji keys
koji_secret_local_dir: /home/user/directory-with-koji-certificates
koji_secret_name: kojisecret

# Absolute path for V2 registry .dockercfg
v2_registry_secret_local_file: /home/user/.dockercfg
v2_registry_secret_name: v2-registry-dockercfg
